@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
// 1. Set your own initial variables and derived 
//    variables in _variables.scss
@import "variables";
@import "~bulma/sass/utilities/derived-variables";

// 2. Setup your Custom Colors

// 3. Add new color variables to the color map.
@import "colors";
$colors: map-merge($colors, $addColors);

@import "~bulma";
@import "~buefy/src/scss/buefy";

// 4. Provide custom buefy overrides and site styles here
@import "general";
@import "dimension";
@import "spacing";
@import "flexbox";
@import "media";
