.is-width-80 {
  width: 80px;
}
.is-width-160 {
  width: 160px;
}
.is-width-450 {
  width: 450px;
}
.is-max-width-300 {
  width: 300px;
}
.is-height-52{
  height: 52px;
}
.is-height-100p{
  height: 100%;
}
.is-full-height {
  height: 100vh;
}