.align_items_none {
  align-items: flex-start !important;
}
.align-center {
  align-items: center !important;
}
.flex-1{
  flex: 1;
}
.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: start;
}
.flex-column {
  flex-direction: column;
}