$background: #F2F7F9;
$degraded-color: linear-gradient(90deg,$primary 0,$secondary);
$box_1: 0px 0px 4px #00000029;

html, body {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: $background;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: $secondary white;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    //box-shadow: inset 0 0 5px black;
    background-color: $background;
  }
  &::-webkit-scrollbar-thumb {
    background: $secondary;
    &:hover {
      background: $secondary; 
    }
  }
}

.bg_degraded {
  background: $degraded-color;
}


// box-shadow
.box_shadow_1{
  box-shadow: $box_1;
}

#tab_tarif.b-table .table {
  border-bottom: 1px solid $border;
}

.no-border-radius{
  border-radius: 0;
}

p.help {
  display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.is-divider {
  border: 1px solid $grey-dark;
}
.hit-the-floor {
  color: #fff;
  font-size: 12em;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 
    0 1px 0 #ccc, 
    0 2px 0 #c9c9c9, 
    0 3px 0 #bbb, 
    0 4px 0 #b9b9b9, 
    0 5px 0 #aaa, 
    0 6px 1px rgba(0,0,0,.1), 
    0 0 5px rgba(0,0,0,.1), 
    0 1px 3px rgba(0,0,0,.3), 
    0 3px 5px rgba(0,0,0,.2), 
    0 5px 10px rgba(0,0,0,.25), 
    0 10px 10px rgba(0,0,0,.2), 
    0 20px 20px rgba(0,0,0,.15);
    line-height: 1;
}

.hit-the-floor {
  text-align: center;
}
.error{
  text-align: center;
  color: #fff;
  font-size: 7em;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 
    0 1px 0 #ccc, 
    0 2px 0 #c9c9c9, 
    0 3px 0 #bbb, 
    0 4px 0 #b9b9b9, 
    0 5px 0 #aaa, 
    0 6px 1px rgba(0,0,0,.1), 
    0 0 5px rgba(0,0,0,.1), 
    0 1px 3px rgba(0,0,0,.3), 
    0 3px 5px rgba(0,0,0,.2), 
    0 5px 10px rgba(0,0,0,.25), 
    0 10px 10px rgba(0,0,0,.2), 
    0 20px 20px rgba(0,0,0,.15);
    line-height: 1;
}

a.button.is-primary{
  &.is-active {
    border: 1px solid $primary;
    background-color: transparent;
    color: $primary;
  }
}

.align-center{
  align-items: center;
}

.vue-typer .custom.char{
  color: white !important
}

.tabs.is-boxed a:hover.primary {
  color: $primary !important;
}

.is-position-fixed {
  position: fixed;
}

#menu-backoffice {
  .sidebar-content {
    width: 450px;
  }
}